body {
    background-color:  rgba(174, 0, 255, 0.346);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
} 
h1  {
  text-align:center;
  font-size: 50px;
}

.class {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}






    /*--
    background-image: img src=href "Imag";
    font-family:'Gill Sans', 'Gill  Sans MT', Calibri, 'Trebuchet MS', sans-serif
    font-size; medium; 	
    padding: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right:0;
    width: 100%;
 }

--*/


/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  

center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




